@import url("https://fonts.googleapis.com/css2?family=Rubik+Vinyl&display=swap");

body {
  font-family: sans-serif;
  padding: 16px;
  background-color: #f5f5f5;
}

h1 {
  margin: 0 0 32px;
  font-family: "Rubik Vinyl", cursive;
  color: #00addb;
  font-size: 2.5em;
}

input,
[contenteditable] {
  font: inherit;
  line-height: 1.5;
  padding: 8px 12px;
  margin-bottom: 8px;
}

input {
  width: calc(100% - 140px);
  box-sizing: border-box;
  display: inline-block;
}

label {
  margin-bottom: 4px;
  display: inline-block;
  width: 140px;
}

.button {
  width: auto;
  cursor: pointer;
  background-color: #00addb;
  border: 0;
  color: white;
}

.button:hover {
  background-color: #3a90d1;
}

.footer {
  margin-top: 100px;
  font-size: 0.5em;
}

grammarly-editor-plugin {
  --grammarly-interactive-color: #00addb;
}
